body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #a18cd1, #fbc2eb);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container{
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.header{
  text-align: center;
  margin-bottom: 20px;
}
.header h2{
  color: #4c2a85;
  margin-bottom: 10px;
}

form{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
input{
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}
button{
  padding: 8px 16px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
button:hover{
  opacity: 0.9;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th, td{
  text-align: center;
  padding: 8px;
}
th{
  color: #4c2a85;
  font-size: 15px;
}
td{
  font-size: 14px;
}
.status-btn{
  border: none;
  border-radius: 6px;
  padding: 4px 10px;
  color: white;
  cursor: pointer;
}
.pending{
  background-color: #7bc74d;
}
.completed{
  background-color: #4c2a85;
}
.delete-btn{
  color: red;
  cursor: pointer;
  font-size: 18px;
  border: none;
  background: none;
}
#todoInput{
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background: transparent;
}
li{
  list-style: none;
}
